/* Navigation */
#navbar {
    flex-direction: column;
    position: relative;
}

#navbar ul {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    margin: auto;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 4px;
}


/* Home section */
#home {
    margin: 16rem 0 0 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 375px;
}

#home::before {
    height: 480px;
}

#home p {
    font-size: 13px;
}

#homebg::before {
    content: '';
    background: url('../imgs/ai-generated-ayodhya.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 92%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#homeimg::before {
    content: '';
    background: url(/imgs/person.jpg) no-repeat center center/cover;
    margin: 8% 25%;
    z-index: -1;

}

/* About Me Section*/
#about-me-content {
    flex-direction: column;
}

#about-me-content img {
    width: 14rem;
    margin: auto;
    margin-top: 20px;
}

#about-me-content p {
    margin: 30px 2rem;
    padding: 14px 14px;
}

/* Services section  */
#services {
    flex-direction: column;
}

#services .box {
    padding: 14px;
    width: 90%;
    margin: 2px 0px;
    margin-bottom: 20px;
}

/* Contact Me */
.contact-content {
    flex-direction: column;
}

.whatsapp-icon {
    position: sticky;
    top: 53rem;
    left: 21rem;
}

/* Utility classes */
.h-primary {
    font-size: 26px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}