* {
    margin: 0px;
    padding: 0px;
}

:root {
    --navbar-height: 50px;
    --primary: #ff7a57;
    --gray: #6c757d;
    --gray-dark: #343a40;
}

/* Navbar */

#logo {
    margin: 20px 20px;
}

#logo img {
    margin: 5px 50px 0px 50px;
    padding: 0px 0px;
    width: 250px;
    filter: invert(100%);
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.1;
}

#navbar ul {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    margin-right: 80px;
}

#navbar ul li {
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    color: var(--gray-dark);
}

#navbar ul li a:hover {
    color: var(--gray);
    background-color: white;
}

#navbar ul li a:active {
    color: var(--primary);
    background-color: white;
}

/* Home */

#home {
    display: flex;
    margin: 150px 0 0 45%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#home p {
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

#homebg::before {
    content: '';
    background: url('../imgs/ai-generated-ayodhya.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#homeimg::before {
    content: '';
    background: url('../imgs/person1-nobg-mirror.png') no-repeat center center/cover;
    background-color: rgba(128, 128, 128, 0.4);
    border: 3px solid var(--primary);
    border-radius: 50%;
    position: absolute;
    margin: 13rem 0 0 18rem;
    height: 14rem;
    width: 14rem;

}

/* About Me */

#about-me h1 {
    position: relative;
    margin-top: 15%;
    margin-bottom: 2%;
    z-index: -1;
}

#about-me-content {
    display: flex;
    margin: auto;
    flex-direction: row;
    border: 2px solid var(--primary);
    border-radius: 20px;
    width: 80%;
    background-color: #ff795717;
    /* align-content: flex-start; */
    z-index: -1;

}

#about-me-content img {
    height: 20rem;
    width: 20rem;
    margin: 60px 12%;
    background-color: rgba(128, 128, 128, 0.4);
    border: 3px solid white;
    border-radius: 50%;
}

#about-me-content p {
    margin: 25px 0;
    padding: 8px 8px;
}

/* Services */

#services-container h1 {
    position: relative;
    margin-top: 10%;
    z-index: -1;
}

#services {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
}

#services .box {
    border: 2px solid var(--primary);
    width: 20%;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    z-index: -1;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Bree Serif', serif;

}

.contact-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contact-content-text {
    padding-top: 25px;
    font-size: 1.2rem;
}

.social-icons {
    display: flex;
    margin: auto;
    padding-top: 15px;
}


/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 20px;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    margin: 10px 6px;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    margin-top: auto;
    background: #3B5998;
    color: white;
}

/* Mail */
.fa-envelope {
    margin-top: auto;
    background: #BB001B;
    color: white;
}

/* Twitter */
.fa-twitter {
    margin-top: auto;
    background: #55ACEE;
    color: white;
}

/* Youtube */
.fa-youtube {
    margin-top: auto;
    background: #bb0000;
    color: white;
}

/*LinkedIn*/
.fa-linkedin {
    margin-top: auto;
    background: #0a66c2;
    color: white;
}

/*Instagram*/
.fa-instagram {
    margin-top: auto;
    background: #E1306C;
    color: white;
}

/*Whatsapp*/
.fa-whatsapp {
    margin-top: auto;
    background: #128C7E;
    color: white;
}
/*Wordpress*/
.fa-wordpress {
    margin-top: auto;
    background: #21759b;
    color: white;
}

.fa-blogger img {
    margin-top: 0px;
    margin-left: 4px;
    width: 2.3rem;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

.h-primary {
    font-size: 4rem;
    padding: 10px;
    color: var(--gray-dark);
}

.h-secondary {
    font-size: 3rem;
    padding: 10px;
    color: var(--gray-dark);
}

.btn {
    padding: 10px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    border-radius: 50px;
    color: white;
    margin: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.center {
    text-align: center;
}

.whatsapp-icon {
    position: sticky;
    top: 41rem;
    left: 88rem;
}